LiteErrorReportWPF/Service References/net.littlelite.www/ProgramFeedback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.littlelite.net/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.littlelite.net/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.littlelite.net/webservices">
      <s:element name="SendFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feedback" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFeedbackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:SendFeedback" />
  </wsdl:message>
  <wsdl:message name="SendFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:SendFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="ProgramFeedbackSoap">
    <wsdl:operation name="SendFeedback">
      <wsdl:input message="tns:SendFeedbackSoapIn" />
      <wsdl:output message="tns:SendFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProgramFeedbackSoap" type="tns:ProgramFeedbackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFeedback">
      <soap:operation soapAction="http://www.littlelite.net/webservices/SendFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProgramFeedbackSoap12" type="tns:ProgramFeedbackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFeedback">
      <soap12:operation soapAction="http://www.littlelite.net/webservices/SendFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProgramFeedback">
    <wsdl:port name="ProgramFeedbackSoap" binding="tns:ProgramFeedbackSoap">
      <soap:address location="http://www.littlelite.net/webservices/ProgramFeedback.asmx" />
    </wsdl:port>
    <wsdl:port name="ProgramFeedbackSoap12" binding="tns:ProgramFeedbackSoap12">
      <soap12:address location="http://www.littlelite.net/webservices/ProgramFeedback.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>